* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chess__wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.chess__row1,
.chess__row2,
.chess__row3,
.chess__row4,
.chess__row5,
.chess__row6,
.chess__row7,
.chess__row8 {
  display: flex;
}
.chess__row8:nth-child(1) .chess:nth-child(even) {
  background-color: #000;
}
.chess__row7:nth-child(2) .chess:nth-child(odd) {
  background-color: #000;
}
.chess__row6:nth-child(3) .chess:nth-child(even) {
  background-color: #000;
}
.chess__row5:nth-child(4) .chess:nth-child(odd) {
  background-color: #000;
}
.chess__row4:nth-child(5) .chess:nth-child(even) {
  background-color: #000;
}
.chess__row3:nth-child(6) .chess:nth-child(odd) {
  background-color: #000;
}
.chess__row2:nth-child(7) .chess:nth-child(even) {
  background-color: #000;
}
.chess__row1:nth-child(8) .chess:nth-child(odd) {
  background-color: #000;
}

.chess {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 70px;
  width: 90px;
  height: 90px;
  border: 3px solid black;
}

.chess__box-top {
  i {
    transition: 0.5s;
    text-shadow: 1px 1px 10px #fff;
  }
}

.chess__box-bottom {
  color: #fff;
  text-shadow: 1px 1px 10px #000;
}
